html,
body
{
    height: 100%;

    background: url(../images/contemporary_china.png);
}

#section-1 .project-wrapper
{
    display: block;

    margin: 2% auto;
    padding: 15px;

    border-radius: 5px;
    background-color: rgba(0,0,0,.1);
}
#section-1 .project-wrapper nav
{
    padding: 15px;

    border-radius: 5px;
    background-color: rgba(255,255,255,.3);
}

#section-1 .project-wrapper nav ul li
{
    list-style: circle;
}

#section-1 .project-wrapper nav ul li a
{
    text-decoration: none;

    color: #333;
}
