.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.column,
.columns {
    margin-left: 4%;
}

.column:first-child,
.columns:first-child {
    margin-left: 0;
}

@media screen and (max-width: 480px) {
    .one.column,
    .two.columns,
    .three.columns,
    .four.columns,
    .five.columns,
    .six.columns,
    .seven.columns,
    .eight.columns,
    .nine.columns,
    .ten.columns,
    .eleven.columns,
    .twelve.columns {
        width: 100%;
    }
}
