@font-face {
  font-family: "EuclidFlex";
  font-style: normal;
  font-weight: 400;
  src: url(https://static.manypets.com/us/document/fonts/EuclidFlex/EuclidFlex-Regular.woff)
    format("woff");
}
@font-face {
  font-family: "EuclidFlex Bold";
  font-style: normal;
  font-weight: 700;
  src: url(https://static.manypets.com/us/document/fonts/EuclidFlex/EuclidFlex-Bold.woff)
    format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(https://static.manypets.com/us/document/fonts/Inter/Inter-Regular.woff)
    format("woff");
}
@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: 700;
  src: url(https://static.manypets.com/us/document/fonts/Inter/Inter-Bold.woff)
    format("woff");
}
html,
body {
  font-family: "Inter", sans-serif;
}

#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  color: #44745e;
  font-family: "EuclidFlex", sans-serif;
  font-weight: 400;
}

#write p,
#write li,
#write tbody tr {
  font-style: normal;
  font-weight: normal;
  font-size: convert(12, px, pt);
  line-height: convert(18, px, pt);
  margin: 0;
  margin-bottom: 12px;
}
#write li {
  margin-bottom: 16px;
}
#write p {
  margin-bottom: 18px;
}
#write a:link,
#write a:active,
#write a:visited {
  text-decoration: none;
  color: #000;
}
#write .color-dark {
  color: #294638 !important;
}
#write .chapter {
  page-break-before: always;
}
#write .keep-together {
  page-break-inside: avoid;
}
#write .lowercase {
  text-transform: lowercase;
}
#write .info-page h3 {
  font-family: "EuclidFlex", sans-serif;
  font-size: convert(24, px, pt);
  line-height: convert(28, px, pt);
  letter-spacing: 1px;
  color: #294638;
  margin: 0;
  margin-bottom: 12px;
}
#write .info-page .highlight {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #44745e;
  font-size: convert(18, px, pt);
  line-height: convert(27, px, pt);
}
#write .info-page p {
  color: #323949;
}
#write .info-page table td {
  vertical-align: top;
}
#write .info-page table td:first-of-type {
  width: 70%;
  padding-right: 30px;
}
#write .contents-page-number {
  display: inline-block;
  position: absolute;
  right: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1px;
}
/* List Styling */
#write ul > li::before {
  content: "•";
  color: #ff9d94;
  position: absolute;
  left: -20px;
}
#write ul,
#write ol {
  list-style: none;
  margin-bottom: 12px;
}
#write ul li,
#write ol li {
  position: relative;
}
#write ol {
  counter-reset: defaultNumber;
}
#write ol > li {
  counter-increment: defaultNumber;
}
#write ol > li::before {
  content: counter(defaultNumber);
  color: #ff9d94;
  position: absolute;
  left: -25px;
}
#write ol.list-numbers-alpha {
  counter-increment: listNumber;
}
#write ol.list-numbers-alpha > li {
  counter-increment: listNumbersAlpha;
}
#write ol.list-numbers-alpha > li::before {
  content: counter(listNumber) counter(listNumbersAlpha, lower-alpha);
  font-family: "EuclidFlex", sans-serif;
  color: #44745e;
  position: absolute;
  left: -40px;
  font-size: 24px;
  line-height: 28px;
}
#write ol.list-alpha {
  counter-reset: listAlpha;
}
#write ol.list-alpha > li {
  counter-increment: listAlpha;
}
#write ol.list-alpha > li::before {
  content: counter(listAlpha, lower-alpha);
  font-family: "EuclidFlex", sans-serif;
}
#write ol.list-heading > li {
  padding-left: 20px;
}
#write ol.list-heading > li::before {
  font-family: "EuclidFlex", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24pt;
  line-height: 28.5pt;
  letter-spacing: 1px;
  color: #44745e;
}
#write ul.list-circles {
  list-style-type: circle;
  margin-top: 8px;
}
#write ul.list-circles > li {
  counter-increment: none;
}
#write ul.list-circles > li::before {
  content: "";
}
#write ol.list-no-style > li::before,
#write ul.list-no-style > li::before {
  content: "";
}
#write ol.list-no-style > li h3,
#write ul.list-no-style > li h3 {
  margin-left: -30px;
}
#write ol.contents-list {
  position: relative;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1e1e1e;
  padding: 0;
  padding-left: 39px;
  margin: 0;
}
#write ol.contents-list > li {
  font-weight: bold;
  margin-bottom: 12px;
}
#write ol.contents-list > li::before {
  content: counter(defaultNumber) ".";
  color: #1e1e1e;
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  padding-right: 34px;
  width: 25px;
}
#write ol.contents-list .list-alpha {
  padding: 0;
  margin: 0;
}
#write ol.contents-list .list-alpha > li::before {
  color: #44745e;
  position: relative;
  display: inline-block;
  padding-right: 34px;
  width: 25px;
  left: 0;
}
#write ol.contents-list .list-alpha > li .contents-page-number {
  font-weight: normal;
}
#write ol.remove-bottom-margin,
#write ul.remove-bottom-margin {
  margin-bottom: 0;
}
#write ol.remove-bottom-margin > li:last-of-type,
#write ul.remove-bottom-margin > li:last-of-type {
  margin-bottom: 0;
}
#write ol[start="1"] {
  counter-reset: firstLevelList 0;
}
#write ol ol[start="1"] {
  counter-reset: secondLevelList 0;
}
#write blockquote ol[start="1"] {
  counter-reset: blockquoteList 0;
}
#write ol[start="2"] {
  counter-reset: firstLevelList 1;
}
#write ol ol[start="2"] {
  counter-reset: secondLevelList 1;
}
#write blockquote ol[start="2"] {
  counter-reset: blockquoteList 1;
}
#write ol[start="3"] {
  counter-reset: firstLevelList 2;
}
#write ol ol[start="3"] {
  counter-reset: secondLevelList 2;
}
#write blockquote ol[start="3"] {
  counter-reset: blockquoteList 2;
}
#write ol[start="4"] {
  counter-reset: firstLevelList 3;
}
#write ol ol[start="4"] {
  counter-reset: secondLevelList 3;
}
#write blockquote ol[start="4"] {
  counter-reset: blockquoteList 3;
}
#write ol[start="5"] {
  counter-reset: firstLevelList 4;
}
#write ol ol[start="5"] {
  counter-reset: secondLevelList 4;
}
#write blockquote ol[start="5"] {
  counter-reset: blockquoteList 4;
}
#write ol[start="6"] {
  counter-reset: firstLevelList 5;
}
#write ol ol[start="6"] {
  counter-reset: secondLevelList 5;
}
#write blockquote ol[start="6"] {
  counter-reset: blockquoteList 5;
}
#write ol[start="7"] {
  counter-reset: firstLevelList 6;
}
#write ol ol[start="7"] {
  counter-reset: secondLevelList 6;
}
#write blockquote ol[start="7"] {
  counter-reset: blockquoteList 6;
}
#write ol[start="8"] {
  counter-reset: firstLevelList 7;
}
#write ol ol[start="8"] {
  counter-reset: secondLevelList 7;
}
#write blockquote ol[start="8"] {
  counter-reset: blockquoteList 7;
}
#write ol[start="9"] {
  counter-reset: firstLevelList 8;
}
#write ol ol[start="9"] {
  counter-reset: secondLevelList 8;
}
#write blockquote ol[start="9"] {
  counter-reset: blockquoteList 8;
}
#write ol[start="10"] {
  counter-reset: firstLevelList 9;
}
#write ol ol[start="10"] {
  counter-reset: secondLevelList 9;
}
#write blockquote ol[start="10"] {
  counter-reset: blockquoteList 9;
}
#write ol[start="11"] {
  counter-reset: firstLevelList 10;
}
#write ol ol[start="11"] {
  counter-reset: secondLevelList 10;
}
#write blockquote ol[start="11"] {
  counter-reset: blockquoteList 10;
}
#write ol[start="12"] {
  counter-reset: firstLevelList 11;
}
#write ol ol[start="12"] {
  counter-reset: secondLevelList 11;
}
#write blockquote ol[start="12"] {
  counter-reset: blockquoteList 11;
}
#write ol[start="13"] {
  counter-reset: firstLevelList 12;
}
#write ol ol[start="13"] {
  counter-reset: secondLevelList 12;
}
#write blockquote ol[start="13"] {
  counter-reset: blockquoteList 12;
}
#write ol[start="14"] {
  counter-reset: firstLevelList 13;
}
#write ol ol[start="14"] {
  counter-reset: secondLevelList 13;
}
#write blockquote ol[start="14"] {
  counter-reset: blockquoteList 13;
}
#write ol[start="15"] {
  counter-reset: firstLevelList 14;
}
#write ol ol[start="15"] {
  counter-reset: secondLevelList 14;
}
#write blockquote ol[start="15"] {
  counter-reset: blockquoteList 14;
}
#write ol[start="16"] {
  counter-reset: firstLevelList 15;
}
#write ol ol[start="16"] {
  counter-reset: secondLevelList 15;
}
#write blockquote ol[start="16"] {
  counter-reset: blockquoteList 15;
}
#write ol[start="17"] {
  counter-reset: firstLevelList 16;
}
#write ol ol[start="17"] {
  counter-reset: secondLevelList 16;
}
#write blockquote ol[start="17"] {
  counter-reset: blockquoteList 16;
}
#write ol[start="18"] {
  counter-reset: firstLevelList 17;
}
#write ol ol[start="18"] {
  counter-reset: secondLevelList 17;
}
#write blockquote ol[start="18"] {
  counter-reset: blockquoteList 17;
}
#write ol[start="19"] {
  counter-reset: firstLevelList 18;
}
#write ol ol[start="19"] {
  counter-reset: secondLevelList 18;
}
#write blockquote ol[start="19"] {
  counter-reset: blockquoteList 18;
}
#write ol[start="20"] {
  counter-reset: firstLevelList 19;
}
#write ol ol[start="20"] {
  counter-reset: secondLevelList 19;
}
#write blockquote ol[start="20"] {
  counter-reset: blockquoteList 19;
}
#write ol[start="21"] {
  counter-reset: firstLevelList 20;
}
#write ol ol[start="21"] {
  counter-reset: secondLevelList 20;
}
#write blockquote ol[start="21"] {
  counter-reset: blockquoteList 20;
}
#write ol[start="22"] {
  counter-reset: firstLevelList 21;
}
#write ol ol[start="22"] {
  counter-reset: secondLevelList 21;
}
#write blockquote ol[start="22"] {
  counter-reset: blockquoteList 21;
}
#write ol[start="23"] {
  counter-reset: firstLevelList 22;
}
#write ol ol[start="23"] {
  counter-reset: secondLevelList 22;
}
#write blockquote ol[start="23"] {
  counter-reset: blockquoteList 22;
}
#write ol[start="24"] {
  counter-reset: firstLevelList 23;
}
#write ol ol[start="24"] {
  counter-reset: secondLevelList 23;
}
#write blockquote ol[start="24"] {
  counter-reset: blockquoteList 23;
}
#write ol[start="25"] {
  counter-reset: firstLevelList 24;
}
#write ol ol[start="25"] {
  counter-reset: secondLevelList 24;
}
#write blockquote ol[start="25"] {
  counter-reset: blockquoteList 24;
}
#write ol[start="26"] {
  counter-reset: firstLevelList 25;
}
#write ol ol[start="26"] {
  counter-reset: secondLevelList 25;
}
#write blockquote ol[start="26"] {
  counter-reset: blockquoteList 25;
}
#write ol {
  counter-reset: firstLevelList;
}
#write ol blockquote {
  background: #f7f8f9;
  margin: 0;
  padding: 0;
  padding: 24px 40px;
  margin-bottom: 30px;
  border-left: none;
}
#write ol blockquote ul:last-child,
#write ol blockquote li:last-child,
#write ol blockquote p:last-child {
  margin-bottom: 0;
}
#write ol > li h1,
#write ol > li h2,
#write ol > li h3 {
  margin-bottom: 16px;
  padding-left: 20px;
}
#write ol > li::before {
  counter-increment: firstLevelList;
  content: counter(firstLevelList);
  font-family: "EuclidFlex", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24pt;
  line-height: 28.5pt;
  letter-spacing: 1px;
  color: #44745e;
  left: -25px;
}
#write ol ol {
  counter-reset: secondLevelList;
}
#write ol ol > li {
  padding-left: 0px;
}
#write ol ol > li::before {
  counter-increment: secondLevelList;
  content: counter(firstLevelList) counter(secondLevelList, lower-alpha);
  left: -40px;
  font-size: 24px;
  line-height: 28px;
}
#write blockquote ul ol {
  counter-reset: blockquoteList;
}
#write blockquote ul ol > li::before {
  counter-increment: blockquoteList;
  content: counter(blockquoteList, decimal);
}
#write blockquote ol {
  counter-reset: blockquoteList;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  padding-left: 40px;
}
#write blockquote ol:last-child {
  margin-bottom: 0;
}
#write blockquote ol > li::before {
  counter-increment: blockquoteList;
  content: counter(blockquoteList, lower-alpha);
  color: #ff9d94;
  font-size: 12px;
  position: absolute;
  line-height: 18px;
  left: -25px;
}
#write blockquote ol ol {
  counter-reset: blockquoteList;
}
#write blockquote ol ol > li::before {
  counter-increment: blockquoteList;
  content: counter(blockquoteList, decimal);
  font-family: inherit;
}
#write blockquote ol a {
  text-decoration: underline;
}